.wrapper {
  height: 100%;
  width: 100%;
  background: linear-gradient(#0093E9, #80D0C7);
}

.loginTopWrapper{
  display: inline-flex;
  width: 100%;
  padding-bottom: 30%;
  margin-top: 10%;
  margin-bottom: 20%;
  height: 20%;

  .rightInfo{
    width: 50%;
    padding-top: 12%;
    color: white;

    h1{
      font-size: 36px;
      font-family: 'Playfair Display';
    }

    h2{
      font-size: 16px;
      margin-top: -3%;
      font-family: 'Playfair Display';
    }
  }
  img{
    height: 200px;
    width: 50%;
    object-fit: contain;
    padding: 7%;
    animation-delay: 750ms;

  }
}

// .signIn {
//   margin: 5%;
//   height: 50px;
//   width: 250px;
//   background: #A8DADC;
//   border-radius: 5px;
//   color: white;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   left: 0;
//   right: 0;
// }

.guest {
  height: 50px;
  width: 250px;
  background: -webkit-linear-gradient(top, #fcba03, #ffd152);
  color: white;
  padding: 5px;
  text-align: center;
  margin-left: 17%;
  margin-bottom: 5%;
  padding-top: 15px;
}

.facebook {
  height: 50px;
  width: 250px;
  background: -webkit-linear-gradient(top, #2d93fa, #419dfa);
  color: white;
  padding: 5px;
  text-align: center;
  margin-left: 17%;
  margin-bottom: 5%;
  padding-top: 15px;
}

.google {
  height: 50px;
  width: 250px;
  background: -webkit-linear-gradient(top, #DB4437, #db7f76);
  color: white;
  padding: 5px;
  text-align: center;
  margin-left: 17%;
  padding-top: 15px;
}
