<ion-content>
  <div class="wrapper">

      <div class="loginTopWrapper">
        <img src="assets/logo.png" class="logo animated zoomIn">
        <div class="rightInfo">
          <h1> Dummy </h1>
          <h2> dummy text </h2>
        </div>
      </div>


    <!-- <div class="input">
      <ion-item>
        <ion-label position="floating"> Username </ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Password </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div> -->

  <script src="" charset="utf-8"></script>

    <div class="firebaseUItest">
      <firebase-ui></firebase-ui>
    </div>

  </div>
</ion-content>

<!-- 135519849336-ta3skdj3eoki7njdfvcfkfpagp6m6kic.apps.googleusercontent.com -->
<!-- 8h76hwBF1UnOMxBUZFzz5NMq -->
