@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap');

ion-content {
  --ion-background-color: #F8FBFF;
}

.welcome {
  margin: 5%;
  font-family: 'Open Sans';
  font-size: 28px;
  margin-top: 25%;
  color: #9174d6;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 5px); }
  to   { transform: translate(0, -0px); }
}

@keyframes floating2 {
  from { transform: translate(0,  0px); }
  40%  { transform: translate(0, 5px); }
  to   { transform: translate(0, -0px); }
}

.uploadOptions {
  display: flex;
  margin-bottom: 20%;
  .cameraUpload {
    height: 150px;
    width: 150px;
    background: #F8DE7E;
    margin-left: 10%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 5px 5px 5px #c9c9c9;

    .cameraIcon {
      font-size: 32px;
      color: #9174d6;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35%;
    }

    .cameraText {
      text-align: center;
      color: #9174d6;
      font-size: 10px;
      font-family: "Open Sans";
      margin-top: -1%;
    }
  }

  .phoneUpload {
    flex: 1;
    height: 150px;
    width: 150px;
    margin-left: 7%;
    margin-right: 10%;
    background: #F8DE7E;
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 5px 5px 5px #c9c9c9;

    .file {
      height: 150px;
      width: 150px;
      opacity: 0;
    }

      // input[type="file"] {
      //   margin: 10%;
      //   height: 100px;
      //   width: 100px;
      //   background: white;
      //   border-radius: 10px;
      //   font-size: 42px;
      //   height: 100px;
      //   font-size: 0px;
      //   position: absolute;
      //   box-shadow: 0px 0px 7px #7d7d7d;


    .addIcon {
      font-size: 32px;
      color: #9174d6;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: -65%;
    }

    .uploadText {
      text-align: center;
      color: #9174d6;
      font-size: 10px;
      font-family: "Open Sans";
      margin-top: -1%;
    }
  }
}

.beginText {
  margin-top: 20%;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 14px;
  color: #8f8f8f;
}

.topText {
  margin-top: 10%;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 14px;
  color: #8f8f8f;
}

ion-spinner {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.uploadedImage {
  margin-top: 20%;
  padding: 10%;
  object-fit: cover;
}

.moreInfo {
  margin-top: -10%;
}


.successful {
  margin: 20%;
}

.test {
  margin-top: -3%;
}

.loadingText {
  margin: 20%;
}

.information {
  height: 50px;
  width: 60%;
  margin-left: 20%;
  background: #9174d6;
  box-shadow: 0px 0px 5px #999999;
  margin-bottom: 20%;

  .informationText {
    padding: 6%;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: "Open Sans";
  }
}

.returnButton {
  height: 50px;
  width: 60%;
  margin-left: 20%;
  background: #9174d6;
  box-shadow: 0px 0px 5px #999999;
  margin-bottom: 5%;

  .returnButtonText {
    padding: 6%;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: "Open Sans";
  }
}
