

<ion-content>
  <!-- <img [src]="user.photoURL" /> -->
  <h1 *ngIf="user.displayName" class="welcome">Welcome {{user.displayName}}</h1>
  <h1 *ngIf="!user.displayName" class="welcome">Weclome {{user.email}} !</h1>

  <h3 class="beginText"> Capture or Upload a photo to begin </h3>

  <div class="takePhoto" (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </div>

  <!-- <br>
  <button class="uploadImage" (click)="uploadImage()">
    <ion-icon name="cloud-upload"> </ion-icon>
  </button>
  <h3 class="imgText"> Upload a Photo </h3> -->
</ion-content>
